@import "../../style/style.scss";

.zg-login {
  // min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  .zg-login-title {
    border-radius: 5px;
    background: $zg-purple;
    box-shadow: $box-shadow;
    color: white;
    margin: 40px 20px 20px 20px;
    padding: 20px;
  }
  .zg-login-portal {
    box-shadow: $box-shadow;
    border-radius: 5px;
    margin: 20px;
    background: $zg-purple;
    display: flex;
    flex-direction: column;
    .zg-login-username {
      font-size: 15px;
      border-radius: 4px;
      margin: 30px 40px 10px 40px;
      height: 30px;
      padding-left: 7px;
    }
    .zg-login-password {
      font-size: 15px;
      border-radius: 4px;
      margin: 20px 40px;
      height: 30px;
      padding-left: 7px;
    }
    .zg-login-button:hover {
      cursor: pointer;
    }
    .zg-login-button {
      background: white;
      color: $zg-purple;
      font-weight: bolder;
      font-size: 15px;
      border-radius: 4px;
      margin: 20px 40px;
      height: 40px;
    }
    .zg-forgot-password {
      text-decoration: none;
      color: white;
      font-size: 15px;
      border-radius: 4px;
      height: 30px;
    }
    .zg-sign-up-button:hover {
      cursor: pointer;
    }
    .zg-sign-up-button {
      background: white;
      color: $zg-purple;
      font-weight: bolder;
      font-size: 15px;
      border-radius: 4px;
      margin: 20px 40px;
      height: 40px;
    }
  }
}

@media only screen and (min-width: 501px) {
  .zg-login {
    min-height: 580px;
    margin: 80px 0;
    display: flex;
    flex-direction: row;
    .zg-login-title {
      margin-top: 70px;
      max-height: 180px;
      display: flex;
      align-items: center;
    }
    .zg-login-portal {
      max-height: 400px;
      // margin: 50px 0;
    }
  }
}
