@import "../../style/style.scss";

.zg-vote-container {
  width: 70px;
  .zg-vote-arrow {
  }

  .zg-vote-check {
  }
  .zg-points {
    font-size: 20px;
    
  }
}

@media only screen and (min-width: 501px) {
  .zg-vote-container {
    margin-right: 15px;
    .zg-vote-arrow {
    }

    .zg-vote-check {
    }

    .zg-points {
      font-size: 17px;
    }
  }
}
