@import "../../style/style.scss";

.zg-current-discussion {
  // background: gold;
  min-height: 570px;
  text-align: center;
  .zg-current-discussion-header {
    color: $zg-purple;
  }

  .zg-position-container {
    // background: pink;
    display: flex;
    flex-direction: column;
    color: $zg-purple;
    font-size: 20px;
    font-weight: bold;

    .zg-agree {
      // background: greenyellow;
    }
    .zg-neutral {
      // background: grey;
    }
    .zg-disagree {
      // background: red;
    }
  }
  .zg-back-to-premises {
    font-weight: bolder;
    text-decoration: none;
    color: white;
    padding: 7px;
    border-radius: 10px;
    background: $zg-purple;
  }
}

@media only screen and (min-width: 501px) {
  .zg-current-discussion {
    min-height: 640px;
    .zg-position-container {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-evenly;
      // align-items: center;
      align-content: space-evenly;

      color: $zg-purple;
      font-size: 20px;
      font-weight: bold;

      .zg-agree {
        width: 400px;
      }
      .zg-neutral {
        width: 400px;
      }
      .zg-disagree {
        width: 400px;
      }
    }
  }
}
