@import "../../style/style.scss";

.zg-categories-bar {

  text-align: left;
  margin: 0 40px;
  margin-top: 20px;
  .zg-categories-bar-header {
    font-size: 22px;
    font-weight: bolder;
    color: $zg-purple;
    padding-top: 10px;
    margin-top: 10px;
  }

  .zg-category-container {
    font-size: 10px;
    .zg-category-link-holder {
      padding: 10px;
      margin: 10px;
      .zg-single-category {
        font-family: $zg-font;
        color: $zg-purple;
        text-align: left;
        font-size: 20px;
        font-weight: bolder;
        color: $zg-purple;
        text-decoration: none;
        background: none;
        border: none;
        cursor: pointer;
      }
    }
  }
}

.zg-category-popout {
}

@media only screen and (min-width: 501px) {
  .zg-categories-bar-holder {
    display: flex;
    margin-top: 20px;
    .zg-categories-bar {
      box-shadow: $box-shadow;
      // border-top: 1px solid $zg-purple;
      // border-right: 1px solid $zg-purple;
      padding-top: 10px;
      padding-left: 5px;
      margin: 0 0 0 0px;
      min-height: 100vh;
      .zg-categories-bar-header {
        font-size: 15px;
        font-weight: bolder;
        margin-bottom: 50px;
      }
      .zg-category-container {
        align-items: flex-start;

        .zg-category-link-holder {
          padding: 10px 10px 10px 0;

          margin: 10px 10px 10px 0;
          .zg-single-category {
            font-size: 12px;
            color: $zg-purple;
          }
        }
      }
    }
  }
}
