@import "../../style/style.scss";

.zg-categories-bar {

  text-align: left;
  margin: 0 40px;
  margin-top: 20px;
  .zg-categories-bar-header {
    font-size: 22px;
    font-weight: bolder;
    color: $zg-purple;
    margin-top: 20px;
    padding: 5px;
    // border-radius: 5px;
    // background: $zg-purple;
    color: $zg-purple;
    border-bottom: 2px solid $zg-purple;
    border-top: 2px solid $zg-purple;
  }

  .zg-category-container {
    font-size: 10px;
    .zg-category-link-holder {
      padding: 10px;
      margin: 10px;
      .zg-single-category {
        font-family: $zg-font;
        text-align: left;
        font-size: 20px;
        font-weight: bolder;
        text-decoration: none;
        border: none;
        cursor: pointer;
        padding: 5px;
        border-radius: 5px;
        background: $zg-purple;
        color: white;
      }
    }
  }
}

.zg-category-popout {
}

@media only screen and (min-width: 501px) {
  .zg-categories-bar-holder {
    display: flex;
    margin-top: 20px;
    .zg-categories-bar {
      width: 164px;
      // box-shadow: $box-shadow;
      padding-top: 10px;
      margin: 0 0 0 0px;
      min-height: 100vh;
      border-radius: 0 5px 5px 0;
      .zg-categories-bar-header {
        font-size: 15px;
        font-weight: bolder;
        margin-left: 15px;
      }
      .zg-category-container {
        align-items: flex-start;

        .zg-category-link-holder {
          .zg-single-category {
            font-size: 12px;
          }
        }
      }
    }
  }
}
