@import "../../style/style.scss";

.zg-contribution {
    outline: 0;
}

.zg-contribution-modal {
    outline: 0;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    .zg-body {
      position: absolute;
      background: white;
    }
  }
