@import "../../style/style.scss";

.zg-create-discussion {
  .zg-open-discussion-modal {
    width: 170px;
    box-shadow: $box-shadow;
    margin: 20px 0 0 0;
    background: $zg-purple;
    color: white;
    text-decoration: none;
    font-weight: bolder;
  }
  .zg-open-discussion-modal:hover {
    background: $zg-purple;
  }
}

.zg-create-discussion-modal {
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  .zg-create-discussion-body {
    border-radius: 5px;
    text-align: center;
    height: 400px;
    width: 330px;
    position: absolute;
    background: white;
    color: $zg-purple;
    .zg-create-discussion-button {
      color: $zg-purple;
    }
    .zg-cancel-discussion-button {
      color: $zg-purple;
    }
    .zg-discussion-input {
      margin-top: 20px;
      width: 250px;
      height: 100px;
      font-size: 18px;
      font-weight: bold;
      border: none;
      outline: none;
      color: $zg-purple;
    }
  }
}

.zg-create-discussion-body {
}

@media only screen and (min-width: 501px) {
  .zg-create-discussion-modal {
    .zg-create-discussion-body {
      height: 500px;
      width: 700px;
      .zg-create-discussion-button {
      }
      .zg-cancel-discussion-button {
      }
      .zg-discussion-input {
        width: 400px;
        height: 270px;
      }
    }
  }
}
