@import "../../style/style.scss";

.zg-create-discussion {
    display: inline-block;
    margin: 20px 0 0 0;
    padding: 7px;
    border-radius: 10px;
    background: $zg-purple;
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
