@import "../../style/style.scss";

.zg-welcome {
  box-shadow: $box-shadow;
  margin-top: 0;
  border-radius: 5px 5px 5px 5px;
  min-width: 85vw;
  min-height: 100vh;
  //   display: flex;
  //   flex-direction: column;
  color: $zg-purple;
  .zg-welcome-header {
    padding-top: 15px;
  }
  .zg-welcome-text {
      font-weight: bold;
      margin: 20px 5px 0 5px;
  }
}

@media only screen and (min-width: 501px) {
  .zg-welcome { 
    .zg-welcome-header {
    // margin-top: 0px;
    }
    .zg-welcome-text {
      // margin: 0 5px;
    }
  }
}
