@import "../../style/style.scss";

.zg-logout:visited { text-decoration: none; ; }
.zg-logout:hover { text-decoration: none;}
.zg-logout:focus { text-decoration: none; }
.zg-logout:hover, a:active { text-decoration: none; }

.zg-logout {
    font-size: 12px;
  color: $zg-purple;
  text-decoration: none;
}



@media only screen and (min-width: 501px) {
  .zg-logout {
  }
}
