@import "../../style/style.scss";

.zg-user {
  background: pink;

  .zg-user-contribution-list {

    .zg-user-contribution-item {
      display: grid;
      margin-top: 5px;
      background: rgb(136, 136, 233);
    }

  }

  .zg-logout:visited {
    text-decoration: none;
  }
  .zg-logout:hover {
    text-decoration: none;
  }
  .zg-logout:focus {
    text-decoration: none;
  }
  .zg-logout:hover,
  a:active {
    text-decoration: none;
  }

  .zg-logout {
    font-size: 12px;
    color: $zg-purple;
    text-decoration: none;
  }
}

@media only screen and (min-width: 501px) {
  .zg-user {
    background: rgb(192, 255, 206);
    .zg-user-contribution-list {
      .zg-user-contribution-item {

      }
    }

    .zg-logout {
    }
  }
}
